---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Preview" height="300" %}
  
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Genres and Themes" btn-color="primary" %}

    {% include index/featured-terms.html featured="New York City, New York; Tokyo, Japan" title="Top Filming Locations" btn-color="outline-dark" %}

    {% include index/featured-terms.html featured="Beau Travail; Days of Heaven; The Gleaners and I; Peking Opera Blues; Paris is Burning" title="The Absolute Must-Sees!" btn-color="light" %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
  
</div>
